<html>
	<head>
		<title>Register</title>
	</head>
	<body>
	
			
			<div>
				
					<legend align="center"><h1>Booking Form</h1></legend>
					<table  cellspacing="10px" cellpadding="10px" align="center">
					<form method="POST" action="/registration">
					<tr>
						<td>Name</td>
						<td><input type="text" name="name" style="width:200px;"/></td>
					</tr>
					<tr>
						<td>email address</td>
						<td><input type="email" name="email" style="width:200px;"/></td>
					</tr>
                    <tr>
						<td>password</td>
						<td><input type="password" name="password" style="width:200px;"/></td>
					</tr>
                    
					</table>
					<center><input type="submit" value="submit" style="width:200px;"/>&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;<input type="reset" value="reset"style="width:200px;"/></center>
					</form>
					
			</div>
			
	</body>
</html>